/*CORES PADRÕES*/
:root{
    --bg-geral: #182C48;
    --color-title: #ffff;
    --color-titles: #ffff;
    --color-titles-lines: #FFC900;
    --color-titles-num: #FFC900;
    --color-titles-cont: #FFC900;
    --description-num: #ffff;
    --description-foo: #ffff;
    --lines: #FFC900;
    --details-card: #FFC900;
    --details-hover: #FFC900;
    --color-btn: #FFC900;
    --details-card: #FFC900;
    --btn-see-more: #FFC100;
}

/** CONFIGURAÇÕES PRINCIPAIS **/
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-geral);
}

/* Titulos Principais*/
.titles{
    text-transform: uppercase;
    color: var(--color-titles);
    font-size: 55px;
    text-align: center;
}
/*----------------------------*/

/* direcionamento de link */
.link-direct{
    text-decoration: none;
}
/*----------------------------*/

/* Botão de Orcamento*/
.btn-orcamento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 377px;
    height: 55px;
    font-size: 24px;
    color: var(--color-title);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 60px;
    border: 2px solid var(--color-btn);
    background: var(--color-btn);
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
}
    .btn-orcamento:hover 
    { transform: scale(1.08);}
/*----------------------------*/

/*Conf das Linhas com Texto*/
.line-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-titles-lines); 
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
}

    /*Linha a Esquerda*/
    #lf{
        flex: 1;
        border: none;
        width: 200px;
        height: 5px;
        background-color: var(--lines);
        margin-right: 15px;
    }
    /*Linha a Direita*/
    #lr{
        flex: 1;
        border: none;
        width: 200px;
        height: 5px;
        background-color: var(--lines);
        margin-left: 15px;
    }
/*----------------------------*/

/************************************/

/*CONTAINER DA BARRA DE NEVEGAÇÃO*/
.ctn-header{
    width: 100%;
    height: 128px;
    display: flex;
    justify-content:space-evenly;
    gap: 50%;
    align-items: center;
    background: url(../Imgs/Fundo\ header.png) repeat-x;
}

/*Logo da Barra de Navegação*/
.logo a img{
    width:355px;
    height: auto;
}

/*Opções da Barra de Navegação*/
nav ul{
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0;
    gap: 20px;
    
}

nav ul li {
    position: relative;
    padding-right: 15px; 
    border-right: 3px solid var(--details-hover); 
}


nav ul li:last-child {
    border-right: none;
}

ul a{
    text-decoration: none;
    color: var(--color-title);
    font-size: 21px;
    transition: 0.5s;
}

a:hover{
    color: var(--details-hover);
}
/*----------------------------*/

/** APRESENTAÇÃO BREVE **/
.ctn-home{
    width: 100%;
    height:720px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(../Imgs/Detalhe\ Onda.png) bottom no-repeat, url(../Imgs/bg-princ.png) center;
    
}

/*Container da Logo e mensagem*/
.ctn-contents{
    width: 100%;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/*Logo*/
.logo-home img{
   width: 200px;
   height: auto;
}

/*Mensagem*/
#msg-logo{
    width:50%;
    text-align: center;
    color: var(--color-title);
    font-size: 33px;
    font-weight:600;
}
/************************************/


/** SERVIÇOS **/
.section-services{
    justify-content: center;
    align-items: center;
}

/*Container de Serviços*/
.ctn-services{
    display: flex;
    justify-content: center;
}

/*Grid de Serviços*/
.grid-services-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    
}

/*Card de Serviço*/
.card-serv{
    width: 300px;
    height: 280px;
    background-color: transparent;
    color: var(--color-title);
    padding: 20px;
    border-radius: 25px;
    border: 3px solid var(--details-card);
    border-bottom: 7px solid var(--details-card) ;
    text-align: center;
    transition: 0.3s;
  }
    .card-serv:hover 
    {transform: scale(0.96);}


/*Título do Serviço*/
.title-serv{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 15px;
}

/*Descrição do Serviço*/
.desc-serv{
    margin: 0;
    font-size:20px;
}

/*Icone de Janela*/
#icon-janela{
    position: relative;
    top: 9px;
    margin-bottom: 10px;
}

/*Botão Veja Mais*/
#btn-link-see{
    margin-top: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

#see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-title);
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 8px;
    border: 2px solid var(--color-btn);
    background: var(--btn-see-more);
    cursor: pointer;
    transition: 0.4s;
    padding: 2px 12px 2px 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}
    #see-more:hover{ transform: scale(1.07);}
/************************************/

/** DIFERENCIAS **/
.section-differences{
    justify-content: center;
    align-items: center;
}

/*Ajuste de Posição */
.align-ctn-dif{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Grid para os Cards*/
.grid-dif{
    display: flex;
    align-items: center;
    gap: 50px;
}

/*Cards*/
.card-dif{
    width: 347px;
    height: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

/*Circulo de Fundo*/
.circle-dif-bg{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC900;
    border-radius: 50%;
}

/*Container de Textos*/
.ctn-texts-dif{
    display: flex;
    color: var(--color-titles);
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/*Título de Diferencias*/
.title-dif{
    margin: 8px;
    text-transform: uppercase;
}

/*Descrição de Diferencias*/
.desc-dif{
    width: 82%;
    margin: 0;
    font-size:20px;
}

/*Linha Separadora dos Cards*/
.sep-dif{
    width: 5px;
    height: 245px;
    background: var(--lines);
}

/*Ajustes Posição dos Icones*/
.icon-atend{margin-top: 5px;}
.icon-estrela{margin-top: -6px;}
.icon-entrega{margin: 8px 12px 0 0;}


/*NOSSOS NÚMEROS*/
.section-counter {
    margin-top: -20px;
    width: 100%;
    text-align: center;
  }

/*Imagem de Fundo do Contador de Serviços*/
.bg-counter{
    margin-top: -58px;
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  linear-gradient(to bottom, rgba(1, 26, 109, 0.2) 70%, rgba(255, 201, 0, 0.3) 100%) ,url(../Imgs/teste.png)  center;
}

/*Número do contador*/
.card-counter h2{
    margin: 0;
    color: var(--color-titles-num);
    font-size: 120px;
}

/*Descrição do contador*/
.card-counter p{
    margin: 0;
    color: var(--description-num);
    font-size: 35px;
    
}
/************************************/

/** CONTATO **/

/*Titulo de Contato*/
.section-contact .titles{
    margin-bottom: 20px;
}

/*Subitulo de Contato*/
#subtitle-contact{
    font-size: 38px;
    color: var(--color-title);
    text-align: center;
}

/*Posição do Container de Contato*/
.align-ctn-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}

/*Grid de Contato*/
.grid-contact{
    display: flex;
    align-items: center;
   
}

/*Card de Contato*/
.card-contact{
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
    transition: 0.4s;
}
    .card-contact:hover{transform: scale(1.05);}

/*Texto de Contato*/
.channel-cont{
    color: var(--color-titles);
    margin-top: 25px;
    text-transform: uppercase;
}

 .channel-cont-rs{
    color: var(--color-titles);
    margin-top: 20px;
    text-transform: lowercase;
}
/*----------------------------*/

/*Linhas Separadoras*/
.sep-line-cont{
    width: 5px;
    height: 145px;
    background: var(--lines);
}

/*Infomação de funcionamento e pagamento*/
.info-operation b{
    color: var(--color-titles-cont);
}
    .info-operation{
        color: var(--color-titles);
        margin: 0 0 15px 0;
        font-size: 25px;
        text-align: center;
    }
/*----------------------------*/

/*Titulo Sobre a Localização*/
#title-end{
    color: var(--color-titles-cont);
    z-index: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*Localização*/
#location{
    margin-top: -60px;
    z-index: 0;
}

/*Endereço Completo Descrito*/
#full-adress{
    margin: 12px 0 ;
    font-size: 20px;
    text-align: center;
    color: var(--color-titles);
}
/************************************/

/** FOOTER **/

footer{
    width: 100%;
    background: url(../Imgs/nuvem2.png) center no-repeat;
    height:420px;
    border-top: 5px solid var(--lines);
    align-items: center;
    justify-content: center;
    display: flex;

}

.footer-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.footer-info{
    width: 65%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
}

/*Card Footer*/
.card-info-f{
    width: 25%;
    height: 200px;
    align-items: center;
    color: var(--description-foo); 
}

/*Titulo dos Cards*/
.title-footer{
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size:25px;
    color: var(--color-titles);
}


/*CARD CONTATO*/
.card-info-f ul{
    margin: 0;
    list-style: none;
    text-align: center;

}

.card-info-f li a{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.card-info-f li a:hover{
    color: var(--color-btn);
}
/*----------------------------*/

/*CARD AGREDECIMENTO NH*/
.card-info-f p{
    margin: 0;
    text-align: justify;
    color: var(--description-foo);
    font-size: 18px;

}    
 /*----------------------------*/   

/*CARD REDES SOCIAS*/
.ctn-sm{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
    .ctn-sm a{list-style: none;
        transition: 0.3s;
    }
    .ctn-sm a:hover{transform: scale(1.05);}
 /*----------------------------*/   


/*Descrição Final*/
.foo-descrition{
    width: 40%;
}

/*Copyright*/
.foo-descrition p{
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    color: var(--color-titles);
}

/*Direcionanto ao Dev*/
#developer {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    display: inline-block; 
}
    #developer:hover {text-decoration: underline;}